
.button {
       width: 100px;
       padding: 5px 10px 5px 10px;
       background-color: #E2F0D6;
       border-radius: 15px;
       margin: 10px auto;
       text-align: center;
       cursor: pointer;
}
.well {
       /*display: inline-block;*/
       background-color: #BDD684;
       height: 400px;
       text-align: center;
}
#user {
       background-color: #10222B;
       height: 200px;
       color: white;
}
p {
       margin: 10px 0;
}
#user p {
       font-size: 36px;
}
h1 {
       font-size: 100px;
}
